<section class="bg-slate-50 min-h-screen">
    <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8 space-y-10">

        <!-- PAGE HEADER -->
        <div class="space-y-2">
            <h1 class="text-3xl font-semibold tracking-tight text-slate-900">
                Manage Events & Announcements
            </h1>
            <p class="text-base text-slate-600">
                This page will be used by moderators and admins to:
                - Create an Event XOR Announcement
                - Delete a Event XOR Announcement
                - Update info on Event or Announcement
                - See members who RSVP an Event
                - Filter Events XOR Announcement
                    - By date, type, status
            </p>
        </div>

    </div>
</section>