<section class="bg-slate-50 min-h-screen">
    <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8 space-y-10">

        <!-- PAGE HEADER -->
        <div class="space-y-2">
            <h1 class="text-3xl font-semibold tracking-tight text-slate-900">
                Manage Votes and Polls
            </h1>
            <p class="text-base text-slate-600">
                This page will be used by moderators and admins to:
                - Create Votes & Polls 
                - Update the info of existing Votes & Polls
                - Delete Votes & Polls.
                - View the History of votes and Polls
                    - Filter by Date, Type & Status
            </p>
        </div>
    </div>
</section>